
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    min-height: 700px;
    width: 100%;
}

h2 {
    color: rgb(100, 2, 104);
    font-weight: bolder;
    background-color: rgb(193, 247, 148);
    justify-items: center;
}

header {
    background-color: rgb(114, 19, 12);
    padding: 16px;
    text-align: end;
    color: goldenrod;
    font-weight: bolder;
    width: 100%;
    
}

a {
    text-decoration: none;
    font-weight: bold;
    color: burlywood;
    box-shadow: inset;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}


.search-container {
    text-align: center;
    margin: 10px 10px;
    padding: 20px;
    background-color: rgb(201, 32, 74);
    border: 1px solid #380134;
    border-radius: 5px;
}

#searchInput {
    padding: 10px;
    margin: 10px 10px;
    font-weight: bold;
    border: 2px solid brown;
    color: black;
}

#searchButton {
    
    height: 40px;
    margin-left: 47%;
    background-color: greenyellow;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 30px;
    
}

#searchButton:hover{
    background-color: #f73505;
    border: 1px solid black;
}

main {
    padding: 30px;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 32px;
    padding: 5px;
    margin: 5px;
    justify-items: center; 
    
}

.movie-card {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    color: rgb(0, 17, 255);
    background-color: rgb(77, 209, 110);
    height: 400px;
}

.movie-card img {
    max-width: 100%;
    max-height: 100px; 
    margin-top: 10px;
}

button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #f73505;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6200ff;
    color: whitesmoke;
}

nav {
    background-color: #aaffb5;
    width: 100%;
}

.container {
    
    color: rgb(222, 224, 235);
    font-weight: bold;
    border-radius: 10px;
    height: 48px;   
    
}

.navbar {
    background-color: #aad6ff;
    font-size: larger;
    width: 100%;
}

.navbar-brand {
    font-size: 24px;
    color: #54184b;
}

.navbar-nav .nav-link {
    color: rgb(38, 0, 255);
    font-size: 15px;
   
}

.navbar-nav .nav-link:hover {
    color: rgb(250, 33, 5);
    background-color: darkblue;
    color: whitesmoke;
    border-radius: 10px;
    
  
}

#searchResults .card {
    width: 100%;
    max-width: 200px;
    min-height: 280px; 
    margin: 5px;
    color: #034407;
    font-weight: bolder;
    background-color: whitesmoke;
    object-fit: cover;
    
}

#favouritesList .card {
    background-color: #fff;;
    width: 100%;
    max-width: 200px;
    min-height: 280px; 
    margin: 10px;
    border: 1px solid #f0ad4e;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
}

#favouritesList .card-img-top {
    height: 150px; 
    object-fit: cover;
    border-radius: 5px 5px 0 0;
  
}

#favouritesList .card-body {
    padding: 10px;
}

#favouritesList .card-title {
    font-size: 20px;
    font-weight: bolder;
}

#favouritesList .more-button {
    margin: 20px 50px;
    
}

h1{
    text-align: center;
    text-decoration: underline;
    
}

#searchResults{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 00px 10px;
}

img{
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
h5{
    text-align: center;
    font-weight: 500;
}

.more-button {
    margin: 30px 40px;
    
    
}
#icon-text{
    font-size: 15px;
    margin-top: 0px 0px;
    text-align: center;
}

footer {
    background-color: palegoldenrod;
    color: black;
   
    text-align: center;
    height: 80px;
    padding-left: 10px;
    bottom: 0;
    width: 100%;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    text-align: left;
  }
  
  .footer-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer-right li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer-right a {
    color: black;
    text-decoration: none;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }

  #logo{
    width:90px;
    margin-top: 0px;
    margin-left: 0px;
    border: 2px solid black;
    border-radius: 15px;
  }

  #nav-link{
    height: 500px;
    width: 500px;
  }
  .more-button:hover{
    background-color: crimson;
    color: white;
  }
  .favourite-button:hover{
    background-color: darkblue;
    color: white;
  }
  
 